@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");

$font-primary: "Lato", sans-serif;
$font-headings: "Playfair Display", serif;

$colour-accent: #e92569;
$colour-accent-second: #767676;
$colour-accent-third: #c7c7c7;
$colour-background: #ffffff;
$colour-heading: #0a0a0a;
$colour-background-second: #efefef;

$tablet: 992px;
