body {
  font-family: $font-primary;
}

h1 {
  font-family: $font-headings;
  color: $colour-accent;
  font-size: 34px;
  margin: 30px 0px;
}

p {
  color: $colour-accent-second;
  font-size: 16px;
}

.news {
  h5 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}
.form-inline {
  .form-control {
    font-size: 15px;
    color: $colour-accent-second !important;
  }
  .btn {
    font-size: 16px;
  }
}
